<app-navigate></app-navigate>
<div class='container'>
    <mat-card class="example-card">
        <mat-card-subtitle>BSIT-3E</mat-card-subtitle>
        <mat-card-title>Jhoniel Gerilla</mat-card-title>
        <mat-card-content>
          <p>Angular is Fun</p>
          <mat-card-content>
            <div>
                <mat-icon>mail</mat-icon><p>Jhoniel.gerilla@evsu.edu.ph</p>
            </div>
            <div>
                <mat-icon>phone</mat-icon><p>09275892014</p>
            </div>
            <div>
                <mat-icon>hub</mat-icon><p>https://github.com/nielhack27</p>
            </div>
        </mat-card-content>
        </mat-card-content>
        <mat-divider inset></mat-divider>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
        <mat-card-footer>
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </mat-card-footer>
      </mat-card>
</div>